@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body {
    font-family: open-sans;
    font-size: 20px;
}

h1, h2, h3 {
    font-family: 'Limelight', cursive;
    color: black;
    margin: 10px;
    padding: 10px;
}

.mainTitle {
    border: 15px dotted moccasin;
}

a {
    padding: 10px;
}

.all-products {
    display: flex;
    flex-direction: row; 
    padding: 10px;
    justify-content: center;
}

img {
    padding: 15px;
    height: 350px;
}
